$title-size:9vw;
$scrollbar-color : #cacaca;
$brupuple :#4834d4;
$mobile-width: 400px;

body,
html {
  margin:0;
}
/*Background particles*/
#particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
/**Scroll bar **/
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: $scrollbar-color, $alpha: 1); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $scrollbar-color, $amount: 5%) ; 
}
/*container for landing page*/
.Landingpage {
  display:grid;
  height:100vh;
  grid-template-columns: 25% 25% 50%;
  grid-template-areas: "subtitle blank photo"
}
/*words on landing page*/
#subtitle {
color:rgba($color: #000000, $alpha: 0.7);
grid-area: subtitle;
margin:1vh 1vw 1vh 10vw;
font-family: 'Montserrat', sans-serif;
background-color: rgba($color: white, $alpha: 1);

  #greetings {

    font-weight: bold;
    color:rgb(76, 209, 55);
    font-size: $title-size;
  }
  #name {
    color:black;
    font-weight: 1000;
    font-size:1.1em;
  }
  
} 
//*Centering any images*/
.container--center-self {
  display:flex;
  align-self: center;
  justify-self: center;
}
#portrait {
  grid-area: photo;
  border-radius: 50%;

  box-shadow: 10px 21px 300px -85px rgba(231, 231, 231, 0.75);
  img {
    overflow:hidden;
    background:white;
    border-radius:50%;
    width:325px ;
    height:325px;
  }
}
.contactInfo_element {
  padding-top: 15px;
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  a { 
    cursor: pointer;
    color:black;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
      text-decoration:none;
    } 
  }
  span {
   margin-left:20px;
  }
  //fixing size to match other icons widths
  .re-center {
    padding-left:7px;
  }
}
#projects {
  display:grid;
  font-family: 'Montserrat', sans-serif;
  height:100%;
  grid-template-columns: 30% 70%;
  grid-template-areas: "subtitle demo";
  .project_title {
    margin-left:2vw;
    color:#48dbfb;
    grid-area:subtitle;
    font-size: $title-size - 2vw;
    font-weight: bold;
    z-index: 10;
  }
  .project_demos {
    grid-area:demo;
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-column-gap: 20px;
    grid-template-rows:300px;
    margin:auto 50px auto 50px;
  }
}
.notdone_red { 
  color:red;
}
.card-title svg {
  pointer-events: none;
}
footer {
  color:rgba($color: grey, $alpha: 0.8);
  text-align: center;
  line-height:9px;
  .sm-font {    
    font-size:8px;
  }
}

@media screen and (max-width: 800px) {
  .Landingpage {
    display:block;
    height: 100vh;
  }
  #portrait { 
    display: flex;
    justify-content: center;
    margin:75px auto 0 auto;
  }

  .contactInfo_element {
    display: inline-block;
    span{
      margin:0;
    }
    a svg {
      margin-left: 10px;
    }
    .re-center{
      margin:0;
    }
  }
  #projects{
  .project_demos{
    grid-template-columns:48% 48%
  }}
}